@font-face {
  font-family: 'ppneuemontreal';
  src: url("../fonts/ppneuemontreal-thin.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

