
.consultants{
    padding: 120px 100px 100px 100px;
    gap: 20px;
    align-items: center;
    background-color: #3C4A41;
    overflow: hidden;
}
.carousel-header{
    align-items: center;
}
.carousel-header h2{
    grid-column: 1 / span 4;
    color: #F4F8EF;
    line-height: 48px;
    font-size: 40px;
}
.carousel-controls{
    grid-column: 11 / span 2;
    justify-self: right;
}
.carousel-controls button{
    width: 58px;
    height: 40px;
    border-radius: 80px;
    background-color: transparent;
    border: 0.8px solid #F4F8EF;
}
.carousel-controls button:hover{
    cursor: pointer;
}
.carousel-controls button svg{
    width: 20px;
    height: 20px;
}
.carousel-body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.carousel-image{
    grid-column: 1 / span 3;
}
.carousel-text{
    grid-column: 5 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.carousel-text h3{
    color: #F4F8EF;
    font-size: 32px;
    line-height: 38.4px;
    display: flex;
    align-items: center;
}
.carousel-text h3 svg{
    margin-right: 15px;
 }
.carousel-text p {
    color: #D6E0D3B2;
    line-height: 24px;
    width: 352px;
    height: 96px;
}
