.designed{
    padding: 24px 124px;
}

.designedHead, .designedBody{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
}
.designedHead h1{
    grid-column: 1 / span 6;
    font-family: "ppneuemontreal", sans-serif;
    color: #3c4a41;
    font-size: 48px;
}
.designedBody{
    height: 330px;
}
.dataIntegration {
    grid-column: 1 / span 6;
    background-color: #F4F8EF;
    border-radius: 8px;
}
.security{
    grid-column: 7/ span 6;
    background-color: #3C4A41;
    border-radius: 8px;
}
.designedBody-contentHead, .designedBody-contentText{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    align-items: center;
    gap: 20px;
    padding-left: 25px;
}
.dataIntegration-head svg{
    grid-column: 1 / span 1;
    justify-self: right;
}
.designedBody-contentHead h3{
    grid-column: 4 / span3;
    font-family: "ppneuemontreal", sans-serif;
    font-size: 32px;
    line-height: 38.4px;
}



/* css spec */
.securityHead{
    color: white;
}
.designedBody-more{
    grid-column: 1 / span 2;
    justify-self: center;
 }
.designedBody-desc{
    grid-column: 4 / span 3;
}