.demoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentContainer {
    width: 100%;
}

.presentationVideo {
    grid-column: 1 / span 6;
    border-radius: 8px;
    overflow: hidden;
}

.visualBrochure {
    grid-column: 7 / span 6;
    background-color: #3C4A411A;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
    position: relative;
}
.visualBrochure svg{
    border: 0.8px solid #E0E0E0;
    padding: 5px;
    background-color: #F9F9F9;
    border-radius: 8px;
}


.textSection {
    margin-top: 20px;
    width: 100%;
    align-items: center;
}

.textSection h1 {
    grid-column: 1 / span 4;
    font-size: 48px;
    color: #3C4A41;
}
.textSection svg{
    grid-column: 6 / span 2;
    justify-self: center;
}


.textSectionDesc{
    grid-column: 8 / span 4;
}
.textSectionDesc p {
    margin-left: 25px;
    color: #3c4a41;
}

.getDemoBtn {
    background-color: #E2D4FE;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 19.2px;
    color: #946BB6;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}
.getDemoBtn svg{
    margin-left: 5px;
}


.getDemoBtn:hover {
    background-color: #D0C2FE;
}
