.ownerContainer {
    position: absolute;
    top: 170px;
    left: 150px;
    background-color: #453848;
    border-radius: 12px;
    box-shadow: inset 0px 0px 16.5921px rgba(130, 130, 130, 0.18);
    filter: drop-shadow(0px 0.518503px 2.07402px rgba(0, 0, 0, 0.12));
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 160px;
    height: 75px;
    overflow: hidden;
}

.ownerTitle{
    width: 140px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 2px;
}
.ownerDetails{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-color: #fff;
    padding: 2px;
}
.ownerDetails p {
    margin: 0;
    font-size: 14px;
    color: black;
}
.ownerIcons{
    display: flex;
    padding: 2px;
}
.ownerIcons p {
    margin: 5px;
}
.ownerBtn{
    margin: 0 5px 0 0;
}
.ownerNext{
    display: flex;
    align-items: center;
    width: 10px;
    height: 5px;
}

.ownerDetails p:first-child {
    font-weight: bold;
}

