.solutions{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    padding: 24px 124px;
}

.solutionsTitle h2{
    font-family:'ppneuemontreal', sans-serif;
    font-size: 40px;
    color: #3C4A41;
}
.solutionsNav{
    grid-column: 6 / span 7;
    justify-self: right;
    border-radius: 100px;
    border: 1px solid #3C4A4133;
}

.solutionsNav ul li a{
    font-size: 16px;
}
.solutionsNav ul li a:hover{
    border: none;
    border-radius: 100px;
    background-color: #3C4A411A;
}

