.solutions{
    padding: 24px 124px;
}
.solutionsHeader{
    align-items: center;
}
.solutionsHeader h2{
    font-size: 40px;
    line-height: 48px;
    color: #3C4A41;
    grid-column: 1 / span 5;
}
.solutionsNav{
    grid-column: 6 / span 7;
    align-items: center;
    justify-self: right;
    border: 1px solid #3C4A4133;
    border-radius: 100px;
    padding: 12px 12px;
}
.solutionsNav li{
    border-radius: 100px;
}

.solutionsNav li a{
    padding: 8px;
    color:#3c4a41;
    line-height: 20.8px;
}

.solutionsLink:hover{
    border: none;
    border-radius: 100px;
    background-color: #F4F8EF;
}

